.container {
    display: grid;
    grid-template-columns: repeat(4,15%);
    grid-template-rows: repeat(5, 200px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
    align-items: stretch;
}

.aboutme {
    grid-area: 1 / 1 / 3 / 3;
}

.boxAge {
    grid-area: 2 / 4 / 3 / 5;
}

.linkedin {
    grid-area: 3 / 1 / 4 / 2;
}

.Projects {
    grid-area: 3 / 2 / 4 / 4;
}

.skills {
    grid-area: 3 / 4 / 4 / 5;
}

.email {
    grid-area: 4 / 3 / 5 / 4;
}

.mundo{grid-area: 1 / 3 / 2 / 5;}

.hour {
    grid-area: 5 / 1 / 6 / 2;
}

.github {
    grid-area: 4 / 1 / 5 / 3;
}

.contador {
    grid-area: 4 / 4 / 5 / 5;
}

.cv {
    grid-area: 5 / 4 / 6 / 5;
}

.darck {grid-area: 2 / 3 / 3 / 4;}

.spotify{
    grid-area: 5 / 2 / 6 / 4;
}

.linkedin,
.email,
.Projects,
.github,
.cv {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.linkedin:hover,
.email:hover,
.Projects:hover,
.github:hover,
.cv:hover {
    transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
    .container {

        display: grid;
        grid-template-columns: repeat(3,30%);
        grid-template-rows: repeat(8, 100px);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-content: center;
        align-items: stretch;
    
    }
    
    .aboutme {
        grid-area: 1 / 1 / 3 / 3;
    }
    
    .boxAge {
        grid-area: 2 / 3 / 3 / 4;
    }
    
    .linkedin {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .Projects {
        grid-area: 5 / 1 / 6 / 3;
    }
    
    .skills {
        grid-area:  5/ 3 / 6 /4 ;
    }
    
    .email {
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .mundo{grid-area: 3 / 2 / 5 / 4;}
    
    .hour {
        grid-area: 8 / 3 / 9 /4 ;
    }
    
    .github {
        grid-area:  6/ 2 / 7 / 4;
    }
    
    .contador {
        grid-area:  8/ 1 / 9 /2 ;
    }
    
    .cv {
        grid-area:  6/ 1 / 7 / 2;
    }
    
    .darck {grid-area: 1 / 3 / 2 / 4;}
    
    .spotify{
        grid-area:  7/ 1 / 8 /4 ;
    }
  }
  